# Auto detect text files and perform LF normalization
* text=auto

# JS/TS
*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf

# Lua
*.lua text eol=lf

# Web
*.html text eol=lf
*.css text eol=lf

# Config
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf

# Markdown
*.md text eol=lf

# Shell
*.sh text eol=lf

# Binary
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
*.glb binary
*.gltf binary
